@import './base.css';

#app {
  font-weight: normal;
  color: var(--color-text-1);
}

@media {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  html, body, #app {
    height: 100%; /* 设置高度为视口的100% */
    margin: 0;
    padding: 0;
    overflow: hidden; /* 防止用户滚动 */
  }
}
